@import "./_my-chartist-settings.scss";
@import "../bower_components/chartist/dist/scss/chartist.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
 font-family: 'Open Sans', sans-serif;
}

.box {
  width: 50%;
  float: left;
}
